Liste_Detudiants { 
 
              font-size:80%; 
              margin:0.5em; 
              font-family: Verdana; 
              display:block; 
              } 
etudiant{ 
              display:block;  
              border: 1px solid silver; 
              margin:0.5em;  
              padding:0.5em;  
              background-color:#e6f2ff; 
              } 
 
nom,prenom,matricule,s1,s2,credits { 
                                 display:block; 
                                 text-align:center; 
                                 } 
nom { 
     color:#003366;  
     text-decoration: underline  ; 
     font-weight:bolder; 
     font-size:20px; 
     } 
     prenom { 
     color:#003366;  
     text-decoration: underline  ; 
     font-weight:bolder; 
     font-size:20px; 
     }
matricule { 
       color:green
       } 
s1 { 
       color:brown 
       } 
s2 { 
       color:blue
       } 
credits {  
       color:black 
       } 